# 当前运行环境（dev / prod）
ENV_MODE=dev

# 项目运行的当前ip或域名
BASE_HOST=http://127.0.0.1:8000

# 数据库连接配置（支持 mysql / postgres / sqlite）
DB__ENGINE=sqlite
DB__HOST=localhost
DB__PORT=3306
DB__NAME=eagle_eye.sqlite3
DB__USER=root
DB__PASSWORD=19980902

# 日志文件输出路径（会自动创建 logs 目录）
LOG_PATH=./logs

# 静态文件路径前缀
STATIC_ROOT_PATH=.
# 静态文件保存目录
STATIC_DIR=/static

# Redis配置
REDIS__HOST=localhost
REDIS__PORT=6379
REDIS__DB=0
REDIS__PASSWORD=
SYSTEM_CLEAR_REDIS_TOKEN=

# 是否开启本地静态文件代理服务，代理static目录 （本地运行时开启，线上部署时关闭）
STATIC_SERVER_ENABLE=true
