# 当前运行环境（dev / prod）
ENV_MODE=dev

# 项目运行的当前ip或域名
BASE_HOST=http://127.0.0.1:8000

# 数据库连接配置（支持 mysql / postgres / sqlite）
DB__ENGINE=sqlite
DB__HOST=localhost
DB__PORT=3306
DB__NAME=eagle_eye.sqlite3
DB__USER=root
DB__PASSWORD=19980902

# Redis配置
REDIS__HOST=fishery-redis
REDIS__PORT=6379
REDIS__DB=0
REDIS__PASSWORD=
SYSTEM_CLEAR_REDIS_TOKEN=

# ================ docker compose 环境变量 =========================

# 项目在宿主机的绝对路径(默认当前目录）
DK_PROJECT_PATH=.
# 前端后台管理项目路径
DK_FRONT_ADMIN_PATH=
# 前端前台项目路径
DK_FRONT_PORTAL_PATH=
# 上传文件在宿主机的绝对路径 (默认当前目录下 static)
DK_UPLOAD_PATH=./static

# 日志在宿主机的绝对路径 (默认当前目录下 log)
DK_LOG_PATH=./log

# nginx 配置路径
DK_NGINX_CONF_PATH=/deploy/nginx/nginx-prod.conf

# nginx 访问端口 （即外部访问端口）
DK_NGINX_PORT=8888
# ngixn 容器内部互相映射接口
DK_NGINX_CONCENT_PORT=80

DK_NGINX_ADMIN_PORT=

# ===============  一般无需改动的固定变量 ===========================

# 项目秘钥
SECRET_KEY=aeNqlTprQy92nqa38fNNpOw6eZLRqv0msgGkTO8dOwDfBzNrdqP-4K3gxEtLuKTC

# 是否开启本地静态文件代理服务，代理static目录 （本地运行时开启，线上部署时关闭）
STATIC_SERVER_ENABLE=false

# 是否启动 celery
CELERY_ENABLE=false

# 日志文件输出路径 --此处是容器内部的路径 （但代码项目会引用到，因此不加DK）
LOG_PATH=/log

# 静态文件路径前缀 --此处是容器内部的路径 （但代码项目会引用到，因此不加DK）
STATIC_ROOT_PATH=/
# 静态文件保存目录 --此处是容器内部的路径 （但代码项目会引用到，因此不加DK）
STATIC_DIR=/static

# 容器中上传静态文件前缀的路径 注意必须 DK_CONT_UPLOAD_PATH = STATIC_ROOT_PATH + STATIC_DIR
DK_CONT_UPLOAD_PATH=/static

# 容器中项目的绝对路径
DK_CONT_PROJECT_PATH=/app/fishery-api/

# 容器中启动项目的脚本
DK_CONT_START_SH=/app/fishery-api/dc_script.sh
